[Unit]
Description=Runs a socketserver for bi-directional communication with the giessomat webapp
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python /home/pi/Giess-o-mat-SocketServer/socketserver.py
Restart=on-failure

[Install]
WantedBy=multi-user.target